<h1>iTrav Vehicle Tracking Service</h1>
<h2><font color="red">Please note this product is still in development and bugs and issues are expected</font></h2>
<p>
  Welcome to the iTrav Vehicle Tracking Service. You can select a vehicle to track by clicking one of 
  the links on the left or top navbars. If you would like to add a single location for a vehicle, use 
  the New (Single) button. Generally you will want to choose Rider (continuous) when your device is
  on the vehicle being tracked.
</p>
<p>
  A modern browser is necessary to use this application. Browsers used during development are 
  Chromium 17.0.963.79 (Developer Build 125985 Linux) and Firefox 12.0 (Mozilla Firefox for Linux Mint - 1.0).
</p>
<h3>Technologies used to develop this service</h3>
<ul>
  <li>Ruby on Rails</li>
  <li>Javascript</li>
  <li>Google Maps (via the Javascript API) </li>
</ul>


<%= link_to "My Vehicles", vehicles_path %>
